body {
  margin: 0;
  min-height: 100vh;
  display: flex;
}

#map {
  height: 100vh;
  width: 100vw;
  margin: auto;
}


.leaflet-control-custom {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.leaflet-control-custom button {
  background: #97009c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.leaflet-control-custom button:hover {
  background: #7a007e;
}